.jumbotron {
  padding-top: 5rem;
  background-color: #9369f5;
}
#projects {
  background-color: #9369f5;
}
.contact {
  padding-top: 2rem;
  background-color: #9369f5;
}
section {
  padding-top: 5rem;
}
